/* Partition 1 */
html,
body,
#root,
#router-root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Custom Scrollbar Styling */
html {
    /* Internet Explorer */
    scrollbar-width: normal !important;
    scrollbar-color: rgb(122, 164, 203) hsl(216, 98%, 52%) !important;
    scroll-behavior: smooth !important;
}

html::-webkit-scrollbar {
    /* For chrome and related browsers */
    width: 1.2vw;
}

html::-webkit-scrollbar-button {
    background-color: rgb(130, 172, 211);
    padding-block: .05vw;
}

html::-webkit-scrollbar-track {
    background-color: rgb(130, 172, 211);
}

html::-webkit-scrollbar-thumb {
    background-color: hsl(216, 98%, 52%);
    border-radius: .5vw;
    border: .26vw solid rgb(130, 172, 211);
}

html::-webkit-scrollbar-thumb:hover {
    background-color: hsl(216, 100%, 30%);
}


body {
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgb(88, 112, 135);
    overflow-y: auto;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}

button:active,
button:focus,
button.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

[tabindex] {
    outline: none;
    height: 100%;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-text-decoration: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 14px;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    outline: none;
    color: #5c6fea;
    font-weight: bold;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box !important;
}

button {
    border-style: none;
    line-height: 1em;
}

input {
    -webkit-appearance: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
    font-size: 16px;
}

.statusbar-overlay {
    opacity: 0;
}

#coinbase_button_iframe {
    width: 244px !important;
    margin-top: 40px !important;
}

#coinbase_widget {
    display: inline-block;
    margin-top: 56px !important;
}

/* sc-component-id: layout__+++++++++++++++++++++++++++SWrapper-wjwiqk-0 */

.dijnUu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

/* sc-component-id: layout__SContent-wjwiqk-1 */

.fiuMUO {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.kyUqCt {
    margin: 0 auto;
    max-width: 74vw;
    height: 80px;
    display: grid !important;
    grid-template-columns: .8fr .05fr .05fr;
    align-items: center;
    justify-content: space-between;
}

/* sc-component-id: layout__SContainer-wjwiqk-2 */

.fuQfHo {
    height: 100%;
    max-width: 1064px;
    margin: 0 auto;
    padding: 0;
}

/* sc-component-id: layout__SFlex-wjwiqk-3 */

.hfVnjX {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

@media screen and (max-width: 640px) {
    .hfVnjX {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

/* sc-component-id: Grid__SGrid-sc-8d5rqj-0 */

.gAVVCu {
    width: 100%;
    height: 100%;
    padding: 24px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

@media screen and (max-width: 640px) {
    .gAVVCu {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}

.kfgSTG {
    width: 100%;
    height: 100%;
    padding: 24px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

@media screen and (max-width: 640px) {
    .kfgSTG {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}

/* sc-component-id: pageStyles__SIndexPage-sc-1navawn-0 */

.hDbjSS {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 0 32px;
    padding-top: 30px;
}

@media screen and (max-width: 640px) {
    .hDbjSS {
        padding: 0 24px;
        padding-top: 20px;
    }
}

/* sc-component-id: pageStyles__SBrandingWrapper-sc-1navawn-1 */

.fAmUdU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

/* sc-component-id: pageStyles__SBranding-sc-1navawn-2 */

.gFeYHJ {
    font-size: 4rem !important;
    font-weight: 900;
    text-align: center;
    color: hsla(216, 98%, 52%, 0.8);
}

/* sc-component-id: pageStyles__SSection-sc-1navawn-4 */

.ibLsRQ {
    position: relative;
    width: 100%;
    z-index: 0;
    margin-bottom: 40px;
}

/* sc-component-id: pageStyles__SApp-sc-1navawn-5 */

.cmAzHq {
    width: 100%;
}

/* sc-component-id: pageStyles__SAppIcon-sc-1navawn-6 */

.ehvsgb {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 25px;
}

.ehvsgb img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    border-radius: initial;
}

/* sc-component-id: pageStyles__SAppName-sc-1navawn-7 */

.hqJPyJ {
    font-weight: bold;
    color: rgb(46, 67, 88);
}

/* sc-component-id: pages__STagline-sc-6zti4a-0 */

.lpfxqP {
    margin: 34px 0;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    opacity: 0.8;
    text-shadow: none !important;
}

/* sc-component-id: pages__SBannerWrapper-sc-6zti4a-1 */

.dXgqeu {
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
}

.dXgqeu img {
    width: 100%;
}

/* sc-component-id: pages__SDescriptionWrapper-sc-6zti4a-2 */

.lbvZBb {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 30px -32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 640px) {
    .lbvZBb {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.lbvZBb h2 {
    font-size: 32px;
    font-weight: 300;
    color: rgb(46, 67, 88);
    margin-bottom: 20px;
}

/* sc-component-id: pages__SColumn-sc-6zti4a-3 */

.iHyPMU {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    font-family: "Jost", sans-serif !important;
}

.iHyPMU h2 {
    font-weight: 600;
}

/* sc-component-id: pages__SSectionTitle-sc-6zti4a-4 */

.kMgaUH {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 30px;
    text-align: center;
}

.kMgaUH h2 {
    font-size: 32px;
    font-weight: 600;
    color: rgb(46, 67, 88);
}

/* sc-component-id: pages__SFAQWrapper-sc-6zti4a-5 */

.iAWzZM {
    display: grid;
    grid-template-columns: repeat(2, .8fr);
    grid-template-rows: .1fr repeat(3, .2fr);
    gap: 1.8rem;
    grid-template-areas: "heading heading""section_1 section_2""section_3 section_4""section_5 section_6";
    max-width: 1000px;
    margin: 0 auto;
}

.iAWzZM h2 {
    grid-area: heading;
    font-size: 32px;
    font-weight: 600;
    color: rgb(46, 67, 88);
    margin-top: 58px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

/* sc-component-id: pages__SQuestion-sc-6zti4a-6 */

.hCcvPy {
    display: block;
    text-align: left;
    max-width: 88%;
}

.hCcvPy.first {
    grid-area: section_1;
}

.hCcvPy.second {
    grid-area: section_2;
}

.hCcvPy.third {
    grid-area: section_3;
}

.hCcvPy.fourth {
    grid-area: section_4;
}

.hCcvPy.fifth {
    grid-area: section_5;
}

.hCcvPy.sixth {
    grid-area: section_6;
}

.hCcvPy h3 {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 400;
    color: rgb(46, 67, 88);
    margin-bottom: 10px;
}

.hCcvPy p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.35;
    font-weight: 400;
    line-height: 1.35;
    font-family: "Jost", sans-serif !important;
}

@media screen and (max-width: 640px) {
    .hCcvPy {
        max-width: 100%;
    }

    .gFeYHJ {
        font-size: 2.2rem !important;
    }

    .lpfxqP {
        font-size: 1.5rem;
    }

    .iAWzZM {
        max-width: 400px;
        grid-template-rows: .1fr repeat(6, 1fr);
        grid-template-rows: .1fr .9fr .5fr .76fr .7fr .74fr 1.2fr;
        grid-template-areas: "heading heading"
            "section_1 section_1"
            "section_2 section_2"
            "section_3 section_3"
            "section_4 section_4"
            "section_5 section_5"
            "section_6 section_6"
        ;
    }
}

.spaced-container {
    margin-inline: 4px !important;
}